.pieChart {
    margin: 5px;
    padding: 5px;
    -webkit-box-shadow: -10px 9px 10px -4px rgba(0, 0, 0, 0.6);
    box-shadow: -10px 9px 10px -4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: white;
  }
  